<h2>Utwórz użytkownika</h2>
<button class="btn btn-info mb-3" (click)="goBack()">&larr; Powrót</button>
<div class="row" *ngIf="errors.length">
    <div class="col-12">
        <div class="alert alert-danger" *ngFor="let e of errors">{{ e }}</div>
    </div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="form-group col-md-4">
        <label for="name">Imię:</label> 
        <input type="text" class="form-control" #name>
    </div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="form-group col-md-4">
        <label for="lastname">Nazwisko:</label> 
        <input type="text" class="form-control" #lastname >
    </div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="form-group col-md-4">
        <label for="email">Adres email:</label> 
        <input type="email" class="form-control" #email >
    </div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="form-group col-md-4">
        <label for="email">Typ:</label> 
        <select class="form-control" #typee >
          <option value="1">1</option>
          <option value="1">2</option>
          <option value="1">3</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="form-group col-md-4">
        <label for="password" class="control-label">Hasło:</label>
        <input #password type="password" class="form-control">	
    </div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="form-group col-md-4">
        <label for="password-confirm">Powtórz hasło:</label>
        <input #passwordConfirm type="password" class="form-control">	
        <p class="invalid-feedback">Hasła muszą być takie same.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="form-group col-md-4">
        <button class="btn btn-success" style="margin-left:38px"
            (click)="create(name.value, lastname.value, email.value, password.value, passwordConfirm.value, typee.value); name.value = ''; lastname.value = ''; email.value = ''; password.value = ''; passwordConfirm.value = ''">Dodaj</button>
    </div>
</div>
