<h2>Użytkownicy</h2>

<div class="row" *ngIf="errors.length">
    <div class="col-12">
        <div class="alert alert-danger" *ngFor="let e of errors">{{ e }}</div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <a class="btn btn-success mb-3" routerLink="/users/add">Dodaj użytkownika</a>
    </div>
    <div class="input-group col-md-6 mb-3">
        <input #searchkey type="text" class="form-control">	
        <div class="input-group-append">
            <button class="btn btn-info" 
                (click)="searchLastname(searchkey.value);">Szukaj</button>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover table-sm ">
        <thead>
            <tr>
                <th scope="col" class="text-center">Nr</th>
                <th scope="col">Id</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">Imię</th>
                <th scope="col">Email</th>
                <th scope="col">Typ</th>
                <th scope="col" class="text-center">Edytuj</th>
                <th scope="col" class="text-center">Usuń</th>
            </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users; index as i">
            <td class="text-center align-middle" scope="col">{{ i + 1 }}</td>
            <td class="align-middle">{{ user.id }}</td>
            <td class="align-middle">{{ user.lastname }}</td>
            <td class="align-middle">{{ user.name }}</td>
            <td class="align-middle">{{ user.email }}</td>
            <td class="align-middle">{{ user.type }}</td>
            <td class="align-middle"><a class="btn btn-success btn-sm m-0 btn-block" routerLink="/detail/{{user.id}}">Edytuj</a></td>
            <td class="align-middle"><button class="btn btn-danger btn-sm btn-block" (click)="delete(user)">Usuń</button></td>
        </tr>
        </tbody>
    </table>
</div>
