<div class="row justify-content-center" *ngIf="!loggedIn">
	<div class="col-sm-10 col-md-6 pt-5">
    <div class="row" *ngIf="errors.length">
        <div class="col-12">
            <div class="alert alert-danger" *ngFor="let e of errors">{{ e }}</div>
        </div>
    </div>
		<div class="card">
			<div class="card-header">
				<span class="card-title">Zaloguj się:</span>
			</div>
			<div class="card-body">
				<div class="form-group">
					<label for="email" class="control-label">Email</label>
          <input #email type="email" class="form-control" required autofocus>
				</div>

        <div class="form-group">
					<label for="password" class="control-label">Hasło</label>
          <input #password type="password" class="form-control" required>
				</div>

				<div class="form-group">
            <button (click)="login(email.value, password.value); password.value = '';" class="btn btn-primary">Zaloguj</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row justify-content-center" *ngIf="loggedIn">
	<div class="col-sm-10 col-md-6">
    <div class="alert alert-warning mb-3 text-align-left">Jesteś już zalogowany</div>
    <div class="text-center">
        <a class="btn btn-primary" routerLink="/logout">Wyloguj</a>
    </div>
  </div>
</div>
