<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
	<a class="navbar-brand" routerLink="/">Engine</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarColor03" aria-controls="navbarColor03"
		aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor03">
		<ul class="navbar-nav mr-auto" *ngIf="loggedIn">
			<li [ngClass]="getClass('/')" ><a
				class="nav-link" routerLink="/">Home 
			</a></li>
			<li [ngClass]="getClass('/users')"><a
				class="nav-link" routerLink="/users">Użytkownicy
			</a></li>
			<li [ngClass]="getClass('/users/add')"><a
				class="nav-link" routerLink="/users/add">Dodaj użytkownika
			</a></li>
		</ul>
		<ul class="navbar-nav" *ngIf="activeUser != null">
			<li [ngClass]="getClass('/me')"><a
                class="nav-link" routerLink="/me">{{ activeUser.name }}
            </a></li>
		</ul>
	</div>
</nav>

<div class="container">
	
<router-outlet></router-outlet>
	
</div>
