 <h2>Edytuj dane</h2>
 <button class="btn btn-info mb-3" (click)="goBack()">&larr; Powrót</button>
 <div class="row" *ngIf="errors.length">
     <div class="col-12">
         <div class="alert alert-danger" *ngFor="let e of errors">{{ e }}</div>
     </div>
 </div>
 <div class="row" *ngIf="user">
     <div class="col-sm-12 col-md-6">
         <div class="form-group">
             <label for="name">Imię:</label>
             <input [(ngModel)]="user.name" placeholder="imię" class="form-control" type="text"/>
         </div>
         <div class="form-group">
             <label for="lastname">Nazwisko:</label> 
             <input [(ngModel)]="user.lastname" placeholder="nazwisko" class="form-control" type="text"/>
         </div>
         <div class="form-group">
             <label for="email">Adres email:</label>		
             <input [(ngModel)]="user.email" placeholder="adres email" class="form-control" type="email"/>
         </div>
         <div class="form-group">
             <label for="email">Typ:</label>		
             <input [(ngModel)]="user.type" placeholder="typ" class="form-control" type="number"/>
         </div>
         <div class="form-group">
             <button class="btn btn-success" style="margin-left: 38px" (click)="save()">Zapisz</button>
         </div>
     </div>
     <div class="col-sm-12 col-md-6">
			<div class="form-group">
          <label for="password" class="control-label">Hasło</label>
          <input #password type="password" class="form-control">	
      </div>
      <div class="form-group">
          <label for="password-confirm" class="control-label">Powtórz hasło</label>
          <input #passwordConfirm type="password" class="form-control">	
      </div>
      <div class="form-group">
          <button class="btn btn-warning" style="margin-left: 38px" 
              (click)="changePassword(password.value, passwordConfirm.value); password.value = ''; passwordConfirm.value = '';">Resetuj hasło</button>
      </div>
  </div>
</div>
