<h2>Witaj {{ me.name }}</h2>
 <div class="row" *ngIf="info.length">
     <div class="col-12">
         <div class="alert alert-info" *ngFor="let m of info">{{ m }}</div>
     </div>
 </div>
 <div class="row justify-content-center" *ngIf="me">
     <div class="col-sm-12 col-md-6">
         <table class="table table-borderless account mb-5">
             <tbody>
             <tr>
                 <th scope="row">Imię:</th>
                 <td>{{ me.name }}</td>
             </tr>
             <tr>
                 <th scope="row">Nazwisko:</th>
                 <td>{{ me.lastname }}</td>
             </tr>
             <tr>
                 <th scope="row">Email:</th>
                 <td>{{ me.email }}</td>
             </tr>
             <tr>
                 <th scope="row">Typ:</th>
                 <td>{{ me.type }}</td>
             </tr>
             </tbody>
         </table>
         <h3>Zmiana hasła:</h3>
         <div class="row" *ngIf="errors.length">
             <div class="col-12">
                 <div class="alert alert-danger" *ngFor="let e of errors">{{ e }}</div>
             </div>
         </div>
         <div class="form-group">
             <label for="password" class="control-label">Hasło</label>
             <input #password type="password" class="form-control">	
         </div>
         <div class="form-group">
             <label for="password-confirm" class="control-label">Powtórz hasło</label>
             <input #passwordConfirm type="password" class="form-control">	
         </div>
         <div class="form-group">
             <button class="btn btn-warning" style="margin-left: 38px" 
                 (click)="changePassword(password.value, passwordConfirm.value); password.value = ''; passwordConfirm.value = '';">Resetuj hasło</button>
         </div>

         <a class="btn btn-primary mt-5 float-right" routerLink="/logout">Wyloguj</a>
     </div>
</div>
